//  Variables
$fuente-primaria:'Roboto', sans-serif;
$color-fondo: #F8F8F8;
$color-fondo-2: #fff;
//  Mixins
@mixin sombras($valor) {
  -webkit-box-shadow: $valor;
    -moz-box-shadow: $valor;
      box-shadow: $valor;
      elevation:2;
}
// Clases HTML
body {
  font: 100% $fuente-primaria;
  background-color: $color-fondo;
  margin-top: 55px;
}
// Clases Bootstrap
.navbar{
  @include sombras( 0px 2px 10px -4px );
  background-color:white;
}
.navbar-toggler {
  border: none;
  outline: none;
}
.navbar-brand{
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
// Clases Custom
